
OPENAI_API_KEY=
# OPENAI_API_BASE=
OPENAI_API_BASE=
OPENAI_MODEL=

JWT_SECRET_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

# Flask基础配置
FLASK_DEBUG=1
FLASK_ENV=development

# wtf配置
WTF_CSRF_ENABLED=False

# SQLAlchemy数据库配置
SQLALCHEMY_DATABASE_URI=postgresql://postgres:123221@127.0.0.1:5432/llmops
SQLALCHEMY_POOL_SIZE=30
SQLALCHEMY_POOL_RECYCLE=3600
SQLALCHEMY_ECHO=True


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

qianfan_ak=
qianfan_sk=

PINECONE_API_KEY=

# Weaviate向量数据库配置
WEAVIATE_HOST=localhost
WEAVIATE_PORT=8080

SERPER_API_KEY=

# 高德工具
GAODE_API_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_USE_SSL=False

# Celery配置
CELERY_BROKER_DB=1
CELERY_RESULT_BACKEND_DB=1
CELERY_TASK_IGNORE_RESULT=False
CELERY_RESULT_EXPIRES=3600
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=True


COS_SECRET_ID=
COS_SECRET_KEY=
COS_REGION=
COS_SCHEME=
COS_BUCKET=
COS_DOMAIN=

PYTHONPATH=/Users/wangqun/Desktop/ai/llmops/llmops-api python3 app/http/app.py

TRANSFORMERS_OFFLINE=1